body {
    font-family: sans-serif;
    background-color: #ceffa8;
    margin-top: 40px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.article
{
	max-width: 700px;
	margin: 0 auto;
	color: #434aad;
	font-family: arial;
	padding-left: 20px;
	padding-right: 20px;
}